body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.btn-group {
  clear:both;
  width:600px;
  margin:20px auto;
}

.btn {
  text-decoration: none;
  display:inline-block;
  text-align: center;
  padding: 7px;
  margin:10px;
  background-color: #333;
  color: #fff;
}
