doctype html
html
  head
    title 게시판 글 수정
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include ../header
    form(name='form1', action='/board/edit', method='post')
        table
            tbody  
                tr
                    th 제목
                    td
                        input(type='hidden', name='seq', id='seq', value=row.seq)
                        input(type='text', name='title', id='title', placeholder='제목 입력', size='70', maxlength='100', value=row.title, required, autofocus)
                tr 
                    th 내용
                    td
                        textarea(name='content',  id='content', rows='5', cols='60', maxlength='255', required) #{row.content}
                tr 
                    th 작성자
                    td
                        input(type='text', name='nickname', id='nickname', placeholder='작성자 ID', maxlength='100', value=row.nickname, required)
        .btn-group 
            button.btn(type='submit') 글 수정
            a.btn(href='/board/list') 목록
    include ../footer 